.nav{
    display:flex;
    background-color: black;

}

h1{

    font-family: cursive;
    color: azure;
}
.nav-links{
    display: flex;
    align-items:flex-end;
    justify-content:flex-end;
    margin-left: auto;
    

}

.nav-links > li{
    margin: 10px;

}
.nav-links> li .active {
    color: aliceblue;
}
.nav-links> li a{
    text-decoration: none;
    color: darkgray;
}

.btn{
    color: rgb(245, 252, 252);
    background-color: rgb(28, 193, 193);
    
}